@mixin FlexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

@function add($a, $b){
    @return $a + $b;
}

$color-box: #dd3dd5;

body{
    height: add(50px,500px);
    @include FlexMid();
    .boxP{
        color: $color-box;
        width: 300px;
        height: 300px;
        background-color: black;
        @include FlexMid();
        .boxE{
            color: $color-box;
            width: 100px;
            height: 100px;
        }
    }
}
.title{
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
}
.title2{
    @extend .title
}